* {
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    background-color: rgb(177, 177, 177);
    padding: 25px;
}
.btn {
    background-color: blanchedalmond;
}

ul {
list-style-type: none;
}

.weather-block {
    border-radius: 10px;
    background-color: blanchedalmond;
}