* {
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    background-color: rgb(177, 177, 177);
    padding: 25px;
}
.btn {
    background-color: rgb(205, 255, 240);
}

ul {
list-style-type: none;
}

.main-row {
    height: 650px;
}

.weather-block {
    border-radius: 10px;
    background-color: rgb(231, 242, 255);
}

.aqi-element {
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

.low-aqi {
    background-color: rgb(144, 219, 144);
}
.medium-aqi {
    background-color: rgb(255, 207, 104);
}
.high-aqi {
    background-color: rgb(255, 140, 140);
}